<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Main</title>
</head>

<div class="grid">

    <div class="header">
        <a href="index.html">
            <div class="logo"><img src="/img/logo.png" alt="logo"></div>
        </a>
        <div class="links">
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>

    <div class="space-left"></div>

    <div class="panel">
        <div class="panel-title">
            <h6>Main</h6>
        </div>

        <div class="panel-content">
            {{ content }}

        </div>
    </div>

    <div class="side-panel">
        <div class="side-panel-1">
            <div class="side-panel-title">
                Side 1
            </div>
            <div class="side-panel-content">
                Content
            </div>
        </div>
        <div class="side-panel-2">
            <div class="side-panel-title">
                Side 2
            </div>
            <div class="side-panel-content">
                Content
            </div>
        </div>
        <div class="side-panel-3">
            <div class="side-panel-title">
                Side 2
            </div>
            <div class="side-panel-content">
                {% include search-lunr.html %}
            </div>
        </div>
    </div>

    <div class="footer">

        <div class="footer-logo">
            <a href="index.html">
                <div class="logo-footer"><img src="img/logo.png" alt="logo"></div>
            </a>
            <div class="footer-contacts">
                <ul>
                    <li>Sample Information</li>
                    <li>Sample Information</li>
                    <li>Sample Information</li>
                    <li><a href="mailto:#">Sample Email</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-info-1">
            <div class="footer-title">Information</div>
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>

        <div class="footer-info-2">
            <div class="footer-title">Information</div>
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>

        <div class="footer-info-3">
            <div class="footer-title">Information</div>
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>

        <div class="footer-social">
            <div class="footer-title">Social Media</div>
            <div class="icons">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </div>
        </div>


    </div>

    <div class="space-right"></div>

</div>

<body>

</body>



</html>